@import url('https://fonts.googleapis.com/css?family=Almendra SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Almendra Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Almendra&display=swap');
@import url('https://fonts.googleapis.com/css?family=Uncial+Antiqua&display=swap');


  body{
                border: 125px solid transparent;
                border-image-source: url('../images/left_border.png');
                border-image-slice: 0 0 0 200; 
                border-image-repeat: repeat;
                background-color: #E7D1A2 !important;
	  	margin-top: -100px;
            }
        
p::first-letter {
  font-size: 6rem;
    font-family: 'Uncial Antiqua';
    color: red;
   line-height: 70px;

}
img, figcaption{
margin-left: 120px}
header{
margin-left: 0px}

         h1{
                font-family: Almendra SC;
                font-size: 85px;
		text-align: center;
            }
            h2{
                font-family: Almendra Display;
                font-size: 60px;
	        text-align: center;
            }
            h3{
            	text-align: center;
                font-family: Almendra;
                font-size: 45px;
            }
            h4{
     		text-align: center;
                font-family: Almendra;
                font-size: 45px;
            }

            header p{
                font-family: Almendra;
                font-size: 40px;
                font-weight: bold;

      }
main{
	font-family: Almendra;
	text-align: justify;


}

main p{
	border: 120px solid transparent;
    padding-bottom: 50px;
    margin-top: -100px;
    border-image-source: url('../images/border.png');
	border-image-slice: 0 0 200 0; 
	border-image-repeat: repeat;
	font-size: 30px;
}
@media only screen and (max-width: 600px){

        header{
            width: 600px;
        }
        main{
	    margin-left: -100px !important;
            width: 700px;
        }
        img{
            width: 250px !important;
        }
        figcaption{
                    font-size: 8px;
                }
    }
  @media only screen and (min-width: 601px){
        header{
            width: 600px;

        }
        main{

	    margin-left: -100px !important;
            width: 700px;
        }
        img{
            width: 250px !important;
	    
        }
        figcaption{
                    font-size: 10px;
		    width: 120px;
                }
    }
  @media only screen and (min-width: 900px){
            header{
            width: 1000px;

        }
        main{
            width: 1250px;
	    margin-left: -100px !important;

        }
        img{
            width: 400px !important;
        }
        figcaption{
                    font-size: 12px;
		    width: 400px;
                }

    }
    @media only screen and (min-width: 1000px){
        header{
            width: 1100px;

        }
        main{
	    margin-left: -100px !important;
            width: 1350px;
        }
        p {
            margin-top: 80px;
        }
        img{
	    width: 600px !important;
        }
        figcaption{
                    font-size: 14px;
		    width: 600px;


                }

    }
