@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap')
body{
                color: black;
                background-image: url('../images/back.jpg') !important;
            	font-family: 'Press Start 2P', cursive;
}
            p{
                display: none
            }
            header{
                display: none;
            }
            figure{
                display: none;
            }
            h4{
                display: none;
            }
            body{
                background-image: url()
            }
            q{
                display: none;
            }
            #btn1{
                height: 100%
                background-color: gray;
            }
            #TableA{
                background-color: black;
                color: #4CC3EB;
                height: 100%;
            }
            #vid{
                color: black;
                display: block;
                width: 80%;
                margin-left: 15%;

            }
            #headerVd{
                width: inherit;
                height: 50px;
                background-color: gray;
            }
            #bodyvid{
                padding: 3%;
                width: inherit;
                height: 250px;
                background-color: black;
                color: #4CC3EB;
            	font-family: 'Press Start 2P', cursive;
		font-size: 1vw;
                text-align: center;



            }
            #footerid{
                width: inherit;
                height: 50px;
                background-color: gray;
            }

            #clicks{
                color: black;
            }
            .glyphicon{
                cursor: pointer;
                font-size: 40px;
            }
            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                padding-top: 3%;
                width: 50%;
                height: 70%;
            }

@media only screen and (max-width: 600px){
#vid{
    margin-top: 25%;
	height: 400px;
	width: 350px;
	}
	p{
		font-size: 2px;
	}
#footerid{
	height: 35px;
   }
#headerVd{
	height: 35px;
}
.glyphicon{
	font-size: 30px;
}
#bodyvid{
	height:150px;
}
}
@media only screen and (min-width: 601px) {
#vid{
	margin-top: 10%;
	height: 400px;
	width: 500px;
	}
#footerid{
	height: 45px;
   }
#headerVd{
	height: 45px;
}
.glyphicon{
	font-size: 35px;
}
#bodyvid{
	height:300px;
}
	}
@media only screen and (min-width: 900px){
#vid{
	margin-top: 3%;
	height: 400px;
	width: 800px;
	}
#footerid{
	height: 55px;
   }
#headerVd{
	height: 55px;
}
.glyphicon{
	font-size: 50px;
}
#bodyvid{
	height:400px;
}
	}}
@media only screen and (min-width: 1200px){body{
				background-color: red;

	}
#vid{
	margin-top: 1%;
	height: 400px;
	width: 900px;
	}
#footerid{
	height: 60px;
   }
#headerVd{
	height: 60px;
}
.glyphicon{
	font-size: 55px;
}
#bodyvid{
	height:400px;
}}



